@media only screen and (min-width: 992px) and (max-width: 1199px) {
 
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .res-cen{
    text-align: none;
 }
 .close-btn {
  
    right: 21px;
    top: 145px;

   
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
 
 .res-cen{
    text-align: none;
 } 
.close-btn {

    right: 89px;
    top: 167px;
}
}
@media only screen and (max-width: 767px) { 
     .res-cen{
    text-align: none;
 } 
.close-btn {

    right: 89px;
    top: 167px;
}

}